



.profile-pic {
    position: relative;
    float: left;
    width: 150px;
    height: 200px;
    margin-right: 20px;
    margin-top: 9px
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: relative;
    bottom: -10px;
    left: -85px
}

.buttons-user{
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 0px
}

.buttons-post {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: relative;
    bottom: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.buttons-add {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: absolute;
    bottom: 190px;
    margin-bottom: 10px;
}



button  {
    flex: 1;
    padding: 8px 13px;
    font-size: large;
    margin-right: 20px;
    /* z-index: 100; */
}

.cancel {
    color: azure;
    background-color: rgb(162, 195, 193);
    border: .5px solid rgb(162, 195, 193);
    border-radius: 5px;
}

.edit {
    color: azure;
    background-color: rgb(13, 237, 241);
    border: .5px solid rgb(13, 237, 241);
    border-radius: 5px;
}

.delete {
    color: azure;
    background-color: rgb(237, 119, 35);
    border: .5px solid rgb(237, 119, 35);
    border-radius: 5px;
}

.save {
    color: azure;
    background-color: rgb(231, 82, 171);
    border: .5px solid rgb(231, 82, 171);
    border-radius: 5px;
}


.users {
    color: azure;
    background-color:  rgb(166, 35, 237);
    border: .5px solid rgb(166, 35, 237);
    border-radius: 5px;
}

.prof {
    width: 600px;
    height: 100px;
    margin-left: auto;
    flex:1;
    /* flex-direction: column; */
    /* position: absolute; */
    /* padding-bottom: 30px */
}

.user-posts {
    flex:1;
    width: 600px;
    height: fit-content;
    margin-left: auto;
    /* display: flex;
    flex-direction: column; */
    /* position: absolute; */
    /* padding-top: 120px */
}

.about {
    width: 600px;
    height: 400px;
    margin-left: 175px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    position: relative;
   
}

.edit-form {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    position: absolute;
    
   
}

.edit-body {
    margin-left: 175px;
    width: 600px;
    height: 500px;
    position: relative; 
}

.detail-cat {
    width: 600px;
    /* check for ramifications */
    flex: 1
}

.detail-title {
    width: 600px;
    height: 40px;
}

.detail-content {
    width: 600px;
    flex-grow: 1
}

.add {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 600px;
    min-height: 500px;
}

.add label {
    flex: 1;

}

/* .edit-cancel {
    position: absolute;
    bottom: 0px;

}

.edit-save {
    position: absolute;
    bottom: 0px;
} */

.cat {
    font-weight: bold;
    font-size: larger;
    float: left;
    width: 15%
    
}


.i {
    position: absolute;
    overflow: hidden;
    font-size: large;
    width: 75%;
    margin-left: 5%;
    float: right;
}

textarea {
    position: absolute;
    overflow: hidden;
    font-size: large;
    width: 75%;
    margin-left: 5%;
    float: right;
}

.info {
    font-size: large;
    width: 85%;
    margin-left: 15%;
}

.post-box {
    width: 600px;
    height: fit-content;
    margin-left: 15px;
}

.post {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.success {
    text-align: center;
    justify-content: center;
    color: rgb(48, 168, 48);
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(226, 224, 224);
}

.error {
    text-align: center;
    justify-content: center;
    color: rgb(220, 57, 39);
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(226, 224, 224);
}

.t-h {
    margin-left: 15px;
}

.t-d {
    /* position: relative; */
    min-height: 30px;
    max-height: fit-content;
    margin-left: 15px;
    display: flex;
    box-sizing:content-box;
    flex-direction: column;
}

.t-add {
    flex: 1;
    flex-direction: column;
    position: absolute;
    height: 90px;
}

.t-d2 {
    position: relative;
    min-height: 5px;
    max-height: fit-content;
    margin-left: 15px;
    /* display: flex; */
}

.t-b {
    flex:1;
    justify-content: space-between;
    width: 200px;
    /* position: relative;
    bottom: 0%;
    left: 0% */
}

.t-b2{
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: relative;
    bottom: 0px;
    left: 0px
}

.p-t {
    flex:1;
    /* display: inline; */
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: fit-content;
    /* flex-wrap: row wrap; */
}

.p-t2 {
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    width: 600px;
    flex-wrap: row wrap;
}

.t-f {
    display: flex;
    justify-content: space-between;
    width: 600px;
    /* flex-wrap: row wrap; */
}

.t-fb {
    flex: auto;
    min-width: 40px;
    max-width: fit-content;
    border-radius: 8px;
    color: azure;
    font-size: medium;
    padding: 3px;
    background-color: rgb(35, 197, 170);
    border: 1px solid rgb(35,197, 170);
}

.p-t2 {
    position: absolute;
    /* overflow: hidden; */
    font-size: large;
    width: 75%;
    margin-left: 5%;
    float: right
}



.tag-input {
    position: absolute;
    width: 100%;
    height: 150px;
    margin-left: 0%;
    margin-top: 30px;
    
    float: right;
    display: flex;
    
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
}

.t {
    
    /* flex-direction: row; */
    text-align: left;
    width: fit-content;
    position: absolute;
    top: 0%;
    left: 25px
}

.t-i {
    position: absolute;
    top: 0%;
    width: 20px
    /* padding-right: 10px */
}

.t-i2 {
    position: relative;
    /* display: flex; */
    flex:1; 
    min-width: 20%;
    justify-content: space-between;
    

}

