



.profile-pic {
    position: relative;
    float: left;
    width: 150px;
    height: 200px;
    margin-right: 20px;
    margin-top: 9px
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: relative;
    bottom: -10px;
    left: -85px
}

.buttons-user{
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 0px
}

.buttons-post {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: relative;
    bottom: 0px;
    margin-bottom: 10px;
}

.buttons-add {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: absolute;
    bottom: 190px;
    margin-bottom: 10px;
}



button  {
    flex: 1;
    padding: 8px 13px;
    font-size: large;
    margin-right: 20px;
    /* z-index: 100; */
}

.cancel {
    color: azure;
    background-color: rgb(162, 195, 193);
    border: .5px solid rgb(162, 195, 193);
    border-radius: 5px;
}

.edit {
    color: azure;
    background-color: rgb(13, 237, 241);
    border: .5px solid rgb(13, 237, 241);
    border-radius: 5px;
}

.delete {
    color: azure;
    background-color: rgb(237, 119, 35);
    border: .5px solid rgb(237, 119, 35);
    border-radius: 5px;
}

.save {
    color: azure;
    background-color: rgb(231, 82, 171);
    border: .5px solid rgb(231, 82, 171);
    border-radius: 5px;
}


.users {
    color: azure;
    background-color:  rgb(166, 35, 237);
    border: .5px solid rgb(166, 35, 237);
    border-radius: 5px;
}

.prof {
    width: 600px;
    height: 100px;
    margin-left: auto;
    flex:1;
    /* flex-direction: column; */
    /* position: absolute; */
    /* padding-bottom: 30px */
}

.user-posts {
    flex:1;
    width: 600px;
    height: fit-content;
    margin-left: auto;
    /* display: flex;
    flex-direction: column; */
    /* position: absolute; */
    /* padding-top: 120px */
}

.about {
    width: 600px;
    height: 400px;
    margin-left: 175px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    position: relative;
   
}

.edit-form {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    position: absolute;
    
   
}

.edit-body {
    margin-left: 175px;
    width: 600px;
    height: 500px;
    position: relative; 
}

.detail-cat {
    width: 600px;
    /* check for ramifications */
    flex: 1
}

.detail-title {
    width: 600px;
    height: 40px;
}

.detail-content {
    width: 600px;
    flex-grow: 1
}

.add {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 600px;
    height: 500px;
}

.add label {
    flex: 1;

}

/* .edit-cancel {
    position: absolute;
    bottom: 0px;

}

.edit-save {
    position: absolute;
    bottom: 0px;
} */

.cat {
    font-weight: bold;
    font-size: larger;
    float: left;
    width: 15%
    
}

/* label .cat {
    display: inline;
} */

input {
    position: absolute;
    overflow: hidden;
    font-size: large;
    width: 75%;
    margin-left: 5%;
    float: right;
}

textarea {
    position: absolute;
    overflow: hidden;
    font-size: large;
    width: 75%;
    margin-left: 5%;
    float: right;
}

.info {
    font-size: large;
    width: 85%;
    margin-left: 15%;
}

.post-box {
    width: 600px;
    height: fit-content;
    margin-left: 15px;
}

.post {
    padding-bottom: 20px;
}

.success {
    text-align: center;
    justify-content: center;
    color: rgb(48, 168, 48);
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(226, 224, 224);
}

.error {
    text-align: center;
    justify-content: center;
    color: rgb(220, 57, 39);
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(226, 224, 224);
}