{% extends 'base.html' %}

{% block title %} Edit User {% endblock %}

{% block content %}
<h1>
    <div class="profile-pic">
        <img src="{{ user.image_url }}" alt="profile photo">
    </div>Edit User Profile</h1>
<div class="edit-body">
<div class="edit-form">
<form  class="add" action="/users/{{ user.id }}/edit", method="POST">
    <div class="detail-cat">
    <label class="cat" for="first_name">First name:</label>
        <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
    </div>
        <!-- </label> -->
    <div class="detail-cat">
    <label class="cat" for="last_name">Last name:</label>
        <input  type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
    </div>
    <div class="detail-cat">    <!-- </label> -->
    <label class="cat" for="email">email:</label>
        <input  type="text" name="email" id="email" value="{{ user.email }}">
    </div>
        <!-- </label> -->
    <div class="detail-cat">
    <label class="cat" for="image_url">Image URL:</label>
        <input  type="text" name="image_url" id="image_url" value="{{ user.image_url }}">
    </div>
        <!-- </label> -->
</div>
<div class="buttons">
    <button class="save edit-save">Save</button>
</form>
<form action="/users/{{ user.id }}">
<button class="cancel edit-cancel">Cancel</button>
</form>
</div>

</div>
{% endblock %}