{% extends 'base.html' %}

{% block title %} Edit Post {% endblock %}

{% block content %}


<h1>
    <div class="profile-pic">
        <img src="{{ post.users_for_post.image_url }}" alt="profile photo">
    </div>
    Edit Post</h1>

<div class="edit-body">
<div class="edit-form">
    <form class="add" action="/posts/{{ post.id }}/edit" method="POST">
        <div class="detail-title">
            <label class="cat" for="title">Title</label>
                <input class="i" type="text" name="title" value="{{ post.title }}">
    </div>
        <div class="detail-content">
            <label class="cat" for="content">Content</label>
                <textarea name="content" id="" rows="10">{{ post.content }}</textarea>
        </div>

        <div class="detail-cat">
            <label class="cat">Tags</label>
            <div class="tag-input">
            {% for tag in tags %}
            <div class="t-i2">
            <input class="t-i" type="checkbox" name="tags"  id="{{ tag.name }}"value="{{ tag.name }}"> 
            <label class="t" for="{{ tag.name }}">
                <!-- <input type="checkbox" name="tags"  id="{{ tag.name }}"value="{{ tag.name }}">  -->
                {{ tag.name }}</label>
            </div>
            {% endfor %}
            </div>
        </div>
</div>

<div class="buttons-user">
    <button class="save">Save</button>
</form>
<form action="/users/{{ post.created_by }}">
    <button class="cancel">Cancel</button>
</form>
</div>

</div>


{% endblock %}