{% extends 'base.html' %}

{% block title %} Details {% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <header class="{{ category }}"> {{ message }}</header>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>
<div class="profile-pic">
    <img src="{{ user.image_url }}" alt="profile photo">
</div>
<div class="username">{{ user.first_name }} {{ user.last_name }}</div></h1>

<div class="about">
<div class="prof">
        <p class="cat">email:</p> <p class="info"> {{ user.email }} </p>


<div class="buttons">
    <form action="/users/{{ user.id }}/edit">
        <button class="edit">Edit</button>
    </form>
    <form action="/users/{{ user.id }}/delete", method="POST">
        <button class="delete">Delete</button>
    </form>
    <form action="/users">
        <button class="users">Users</button>
    </form>
</div>
</div>


<div class="user-posts">
    <!-- <blockquote></blockquote> -->
    <p class="cat">
        <h2>Posts</h2>
    </p> <p class="info-posts"> 
        <ul>
            {% for post in posts %}
                <li><a href="/posts/{{post.id}}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </p>
    <section class="buttons-post">
        <form action="/users/{{user.id}}/posts/new">
        <button class="edit">Add</button>
    </form>
    </section>
</div>
</div>

{% endblock %}